In [2]:
# Importing libraries
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import scipy.stats as stats
from statsmodels.stats import weightstats

# T-Test, one population

An auditor wants to know the average salary of the employees at a certain company. The owner of the company claims that the salary is, in average, 88K yearly. The auditor wants to verify if this afirmation is true, and he takes a sample of 30 employees and handle the data collected to you to perform a test and prove the claim. At a 5% significance level, could you verify the affirmation?

In [3]:
# Importing the dataset
dataset = pd.read_csv('C:/Users/miant/Desktop/Python/Salary_Data.csv')
dataset.head(5)

   YearsExperience   Salary
0              1.1  39343.0
1              1.3  46205.0
2              1.5  37731.0
3              2.0  43525.0
4              2.2  39891.0

In [4]:
# Define the variable 
#x = salary of the group (in euros)
X = dataset['Salary']; X

0      39343.0
1      46205.0
2      37731.0
3      43525.0
4      39891.0
5      56642.0
6      60150.0
7      54445.0
8      64445.0
9      57189.0
10     63218.0
11     55794.0
12     56957.0
13     57081.0
14     61111.0
15     67938.0
16     66029.0
17     83088.0
18     81363.0
19     93940.0
20     91738.0
21     98273.0
22    101302.0
23    113812.0
24    109431.0
25    105582.0
26    116969.0
27    112635.0
28    122391.0
29    121872.0
Name: Salary, dtype: float64

In [27]:
#H0 : u = 65000
#H1 : u =! 65000
#stats.ttest_1samp(X,mu of H0)
stats.ttest_1samp(X,65000)

Ttest_1sampResult(statistic=2.1983281606019975, pvalue=0.03605756109651702)

We reject H0 ---> We accept H1, so there is enough evidence to say that the average salary is not 65k yearly.

Suppose that the auditor wants to know if the salary is, in average, less than 66K. Calculate the test at a 5% significance level.

In [32]:
#H1 : u > 65000
stats.t.sf(2.1983281606019975, 29)

0.01802878054825851

We reject H0, thus, there is enough evidence to say that the salaries are not in average greater than 65000.

# T-Test, two populations

Trip advisor wants to know if, in average, there are differences between the star rates received by the guests according to the type of travelers they hosted. The company hires you as an analyst to verify if the stars received are similar, in order to plan future modifications. At a 5% significante level, solve the request of the company.

In [43]:
# Importing the dataset\n",
dataset = pd.read_csv('C:/Users/miant/Desktop/Python/trip_advisor_stars.csv')
dataset.head(5)

  Traveler_type  Hotel_stars_given
0      Families                  3
1      Business                  3
2      Families                  3
3      Families                  3
4      Business                  3

In [44]:
#We group the data according to the categories requested by the company

families = dataset.query('Traveler_type == "Families"')['Hotel_stars_given']
business = dataset.query('Traveler_type == "Business"')['Hotel_stars_given']

In [45]:
#We perform the test assuming as H0 that mu1 = mu2 (family rate = business rate)
test = stats.ttest_ind(families, business, 
                      equal_var=True)

display(test)

Ttest_indResult(statistic=-0.044372088608790855, pvalue=0.9646254540887074)

In [46]:
test = stats.ttest_ind(families, business, 
                      equal_var=False)

display(test)

Ttest_indResult(statistic=-0.04451747410407884, pvalue=0.9645519335242811)