In [1]:
## Go back to the brief, make sure everything is ticked off
## It's why WHY that's important. Why by expirimentation and/or referencing. 
# Why boxplot, why colours, why titles, etc. etc. in the report (for David, 200-300 words) in the markdown for sam. Sam only read the notebook I think.  
## There's a template for CA3 
 # Intro, main body, conclusion 
# Resources on Student Success 
# See Research papers on David's Moodle page as samples for structure
# Go back to the feedback form CA1

In [2]:
# Fix Github to Public

In [3]:
#  Reading - what impacts the price of wheat 
# https://www.ers.usda.gov/webdocs/publications/47264/51088_tb1878b.pdf?v=0 
## https://www.economicshelp.org/blog/168151/economics/factors-determining-the-price-of-wheat/#:~:text=The%20price%20of%20wheat%20is,climate%20factors%20affecting%20the%20supply.

In [60]:

import pandas as pd
import matplotlib as mpl
import numpy as np

In [67]:
# Import all economic datasets


df1 = pd.read_csv("DATA/DP_LIVE_06012023190448991.csv")
df2 = pd.read_csv("DATA/DP_LIVE_06012023190508679.csv")
df3 = pd.read_csv("DATA/DP_LIVE_06012023190521038.csv")
df4 = pd.read_csv("DATA/DP_LIVE_06012023190621335.csv")
df5 = pd.read_csv("DATA/DP_LIVE_06012023190631007.csv")
df6 = pd.read_csv("DATA/DP_LIVE_06012023190759570.csv")
df7 = pd.read_csv("DATA/DP_LIVE_06012023190909741.csv")
df8 = pd.read_csv("DATA/DP_LIVE_06012023191011288.csv")
df9 = pd.read_csv("DATA/DP_LIVE_06012023191646976.csv")
df10 = pd.read_csv("DATA/DP_LIVE_06012023192018179.csv")
df11 = pd.read_csv("DATA/DP_LIVE_06012023192105335.csv")
df12 = pd.read_csv("DATA/DP_LIVE_06012023214944235.csv")
df13 = pd.read_csv("DATA/DP_LIVE_06012023215221798.csv")
df14 = pd.read_csv("DATA/PPP-EU.csv")

In [6]:
# Monthly = df1 (CCI), df2 (CLI) , df3 (CLI)

In [7]:
# Quarterly = df11 (HHI)

In [8]:
# Annually = df4 (GDP), df5 (GDP), df6 (GFCFSector), df7 (cropyield), df8, (aggsupp), df9 (exch), df10 (GNI), df11, (grossAJD), df 12 (YRLIFELOST), df13 (oilprod), df14 (ppp)

In [9]:
df11.tail(50)

,LOCATION,INDICATOR,SUBJECT,MEASURE,FREQUENCY,TIME,Value,Flag Codes
3021,OECD,HHDI,GROSS,PC_CHGPPCAP,Q,2010-Q1,0.20,NaN
3022,OECD,HHDI,GROSS,PC_CHGPPCAP,Q,2010-Q2,0.68,NaN
3023,OECD,HHDI,GROSS,PC_CHGPPCAP,Q,2010-Q3,0.52,NaN
3024,OECD,HHDI,GROSS,PC_CHGPPCAP,Q,2010-Q4,0.12,NaN
3025,OECD,HHDI,GROSS,PC_CHGPPCAP,Q,2011-Q1,0.36,NaN
3026,OECD,HHDI,GROSS,PC_CHGPPCAP,Q,2011-Q2,0.02,NaN
3027,OECD,HHDI,GROSS,PC_CHGPPCAP,Q,2011-Q3,0.13,NaN
3028,OECD,HHDI,GROSS,PC_CHGPPCAP,Q,2011-Q4,-0.09,NaN
3029,OECD,HHDI,GROSS,PC_CHGPPCAP,Q,2012-Q1,0.74,NaN
3030,OECD,HHDI,GROSS,PC_CHGPPCAP,Q,2012-Q2,0.14,NaN
3031,OECD,HHDI,GROSS,PC_CHGPPCAP,Q,2012-Q3,-0.21,NaN
3032,OECD,HHDI,GROSS,PC_CHGPPCAP,Q,2012-Q4,0.92,NaN
3033,OECD,HHDI,GROSS,PC_CHGPPCAP,Q,2013-Q1,-0.64,NaN
3034,OECD,HHDI,GROSS,PC_CHGPPCAP,Q,2013-Q2,0.65,NaN
3035,OECD,HHDI,GROSS,PC_CHGPPCAP,Q,2013-Q3,0.38,NaN
3036,OECD,HHDI,GROSS,PC_CHGPPCAP,Q,2013-Q4,0.05,NaN
3037,OECD,HHDI,GROSS,PC_CHGPPCAP,Q,2014-Q1,0.40,NaN
3038,OECD,HHDI,GROSS,PC_CHGPPCAP,Q,2014-Q2,0.62,NaN
3039,OECD,HHDI,GROSS,PC_CHGPPCAP,Q,2014-Q3,0.73,NaN
3040,OECD,HHDI,GROSS,PC_CHGPPCAP,Q,2014-Q4,0.84,NaN
3041,OECD,HHDI,GROSS,PC_CHGPPCAP,Q,2015-Q1,0.87,NaN
3042,OECD,HHDI,GROSS,PC_CHGPPCAP,Q,2015-Q2,0.28,NaN
3043,OECD,HHDI,GROSS,PC_CHGPPCAP,Q,2015-Q3,0.51,NaN
3044,OECD,HHDI,GROSS,PC_CHGPPCAP,Q,2015-Q4,0.35,NaN
3045,OECD,HHDI,GROSS,PC_CHGPPCAP,Q,2016-Q1,0.61,NaN
3046,OECD,HHDI,GROSS,PC_CHGPPCAP,Q,2016-Q2,0.08,NaN
3047,OECD,HHDI,GROSS,PC_CHGPPCAP,Q,2016-Q3,0.22,NaN
3048,OECD,HHDI,GROSS,PC_CHGPPCAP,Q,2016-Q4,0.46,NaN
3049,OECD,HHDI,GROSS,PC_CHGPPCAP,Q,2017-Q1,0.38,NaN
3050,OECD,HHDI,GROSS,PC_CHGPPCAP,Q,2017-Q2,0.89,NaN
3051,OECD,HHDI,GROSS,PC_CHGPPCAP,Q,2017-Q3,0.49,NaN
3052,OECD,HHDI,GROSS,PC_CHGPPCAP,Q,2017-Q4,0.39,NaN
3053,OECD,HHDI,GROSS,PC_CHGPPCAP,Q,2018-Q1,0.59,NaN
3054,OECD,HHDI,GROSS,PC_CHGPPCAP,Q,2018-Q2,0.31,NaN
3055,OECD,HHDI,GROSS,PC_CHGPPCAP,Q,2018-Q3,0.43,NaN
3056,OECD,HHDI,GROSS,PC_CHGPPCAP,Q,2018-Q4,0.56,NaN
3057,OECD,HHDI,GROSS,PC_CHGPPCAP,Q,2019-Q1,0.85,NaN
3058,OECD,HHDI,GROSS,PC_CHGPPCAP,Q,2019-Q2,0.28,NaN
3059,OECD,HHDI,GROSS,PC_CHGPPCAP,Q,2019-Q3,0.48,NaN
3060,OECD,HHDI,GROSS,PC_CHGPPCAP,Q,2019-Q4,0.36,NaN
3061,OECD,HHDI,GROSS,PC_CHGPPCAP,Q,2020-Q1,0.24,NaN
3062,OECD,HHDI,GROSS,PC_CHGPPCAP,Q,2020-Q2,3.72,NaN
3063,OECD,HHDI,GROSS,PC_CHGPPCAP,Q,2020-Q3,-0.22,NaN
3064,OECD,HHDI,GROSS,PC_CHGPPCAP,Q,2020-Q4,-1.06,NaN
3065,OECD,HHDI,GROSS,PC_CHGPPCAP,Q,2021-Q1,5.09,NaN
3066,OECD,HHDI,GROSS,PC_CHGPPCAP,Q,2021-Q2,-3.51,NaN
3067,OECD,HHDI,GROSS,PC_CHGPPCAP,Q,2021-Q3,-0.03,NaN
3068,OECD,HHDI,GROSS,PC_CHGPPCAP,Q,2021-Q4,-0.29,NaN
3069,OECD,HHDI,GROSS,PC_CHGPPCAP,Q,2022-Q1,-1.15,NaN
3070,OECD,HHDI,GROSS,PC_CHGPPCAP,Q,2022-Q2,-0.51,NaN

In [10]:
# Combine to make master economic set. As all in the same format, we can stack the DataFrames on top of each other
df_econ = pd.concat([df4, df5, df6, df7, df8, df9, df10, df12, df13], axis=0)

In [11]:
df_econ.describe()

               TIME         Value
count  33379.000000  3.337900e+04
mean    2008.754247  1.401094e+04
std       10.735205  6.024846e+04
min     1986.000000 -2.635270e+05
25%     2000.000000  2.034000e+00
50%     2009.000000  7.361200e+01
75%     2017.000000  4.776456e+03
max     2030.000000  1.312195e+06

In [12]:
df_econ.head(50)

,LOCATION,INDICATOR,SUBJECT,MEASURE,FREQUENCY,TIME,Value,Flag Codes
0,AUT,GDP,TOT,USD_CAP,A,2018,56956.110562,NaN
1,AUT,GDP,TOT,USD_CAP,A,2019,59719.331647,NaN
2,AUT,GDP,TOT,USD_CAP,A,2020,57253.300563,NaN
3,AUT,GDP,TOT,USD_CAP,A,2021,59976.264665,NaN
4,BEL,GDP,TOT,USD_CAP,A,2018,52530.841510,NaN
5,BEL,GDP,TOT,USD_CAP,A,2019,55800.825988,NaN
6,BEL,GDP,TOT,USD_CAP,A,2020,54539.032525,P
7,BEL,GDP,TOT,USD_CAP,A,2021,58816.266983,P
8,CAN,GDP,TOT,USD_CAP,A,2018,49992.811418,NaN
9,CAN,GDP,TOT,USD_CAP,A,2019,49832.297981,NaN
10,CAN,GDP,TOT,USD_CAP,A,2020,47228.372488,NaN
11,CAN,GDP,TOT,USD_CAP,A,2021,53074.088264,NaN
12,CZE,GDP,TOT,USD_CAP,A,2018,41157.370409,NaN
13,CZE,GDP,TOT,USD_CAP,A,2019,44223.088155,NaN
14,CZE,GDP,TOT,USD_CAP,A,2020,42813.741340,NaN
15,CZE,GDP,TOT,USD_CAP,A,2021,44799.547333,NaN
16,DNK,GDP,TOT,USD_CAP,A,2018,57479.350221,NaN
17,DNK,GDP,TOT,USD_CAP,A,2019,59883.836280,NaN
18,DNK,GDP,TOT,USD_CAP,A,2020,60840.940164,NaN
19,DNK,GDP,TOT,USD_CAP,A,2021,64897.769113,NaN
20,FIN,GDP,TOT,USD_CAP,A,2018,49573.255773,NaN
21,FIN,GDP,TOT,USD_CAP,A,2019,51811.356163,NaN
22,FIN,GDP,TOT,USD_CAP,A,2020,52290.401497,NaN
23,FIN,GDP,TOT,USD_CAP,A,2021,54856.553847,NaN
24,FRA,GDP,TOT,USD_CAP,A,2018,46336.933985,NaN
25,FRA,GDP,TOT,USD_CAP,A,2019,50221.997111,P
26,FRA,GDP,TOT,USD_CAP,A,2020,47823.919578,P
27,FRA,GDP,TOT,USD_CAP,A,2021,50998.933198,P
28,DEU,GDP,TOT,USD_CAP,A,2018,55195.722049,NaN
29,DEU,GDP,TOT,USD_CAP,A,2019,57397.204591,P
30,DEU,GDP,TOT,USD_CAP,A,2020,56476.934309,P
31,DEU,GDP,TOT,USD_CAP,A,2021,58784.138861,P
32,GRC,GDP,TOT,USD_CAP,A,2018,29617.499309,NaN
33,GRC,GDP,TOT,USD_CAP,A,2019,31155.847016,NaN
34,GRC,GDP,TOT,USD_CAP,A,2020,28413.787339,P
35,GRC,GDP,TOT,USD_CAP,A,2021,31177.251307,P
36,HUN,GDP,TOT,USD_CAP,A,2018,31908.661917,NaN
37,HUN,GDP,TOT,USD_CAP,A,2019,34638.671964,NaN
38,HUN,GDP,TOT,USD_CAP,A,2020,34156.840044,P
39,HUN,GDP,TOT,USD_CAP,A,2021,36677.803167,P
40,IRL,GDP,TOT,USD_CAP,A,2018,84824.352993,NaN
41,IRL,GDP,TOT,USD_CAP,A,2019,89846.272208,NaN
42,IRL,GDP,TOT,USD_CAP,A,2020,94028.901163,NaN
43,IRL,GDP,TOT,USD_CAP,A,2021,106852.122229,NaN
44,ITA,GDP,TOT,USD_CAP,A,2018,43427.663143,NaN
45,ITA,GDP,TOT,USD_CAP,A,2019,45799.526931,NaN
46,ITA,GDP,TOT,USD_CAP,A,2020,43129.896677,NaN
47,ITA,GDP,TOT,USD_CAP,A,2021,46546.248219,NaN
48,JPN,GDP,TOT,USD_CAP,A,2018,42239.050068,NaN
49,JPN,GDP,TOT,USD_CAP,A,2019,42465.480080,NaN

In [13]:
df_econ.TIME.unique()

array([2018, 2019, 2020, 2021, 2000, 2001, 2002, 2003, 2004, 2005, 2006,
       2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017,
       1990, 1991, 1992, 1993, 1994, 1995, 1996, 1997, 1998, 1999, 2022,
       2023, 2024, 2025, 2026, 2027, 2028, 2029, 2030, 1986, 1987, 1988,
       1989], dtype=int64)

In [14]:
df_econ.INDICATOR.unique()

array(['GDP', 'GFCFSECTOR', 'CROPYIELD', 'AGRSUPP', 'EXCH', 'GNI',
       'YRLIFELOST', 'OILPROD'], dtype=object)

In [15]:
df_econ.SUBJECT.unique()

array(['TOT', 'GG', 'RICE', 'WHEAT', 'MAIZE', 'SOYBEAN', 'TSE', 'PSE',
       'CSE', 'GSSE'], dtype=object)

In [16]:
df_econ.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 33379 entries, 0 to 683
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   LOCATION    33379 non-null  object
 1   INDICATOR   33379 non-null  object
 2   SUBJECT     33379 non-null  object
 3   MEASURE     33379 non-null  object
 4   FREQUENCY   33379 non-null  object
 5   TIME        33379 non-null  int64
 6   Value       33379 non-null  float64
 7   Flag Codes  197 non-null    object
dtypes: float64(1), int64(1), object(6)
memory usage: 2.3+ MB

In [17]:
# Remove dupliates 

df_econ2 = df_econ.drop_duplicates(subset=None, keep='first', inplace=False, ignore_index=False)

In [18]:
df_econ2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 33251 entries, 0 to 683
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   LOCATION    33251 non-null  object
 1   INDICATOR   33251 non-null  object
 2   SUBJECT     33251 non-null  object
 3   MEASURE     33251 non-null  object
 4   FREQUENCY   33251 non-null  object
 5   TIME        33251 non-null  int64
 6   Value       33251 non-null  float64
 7   Flag Codes  167 non-null    object
dtypes: float64(1), int64(1), object(6)
memory usage: 2.3+ MB

In [19]:
df_econ2.head(20)

,LOCATION,INDICATOR,SUBJECT,MEASURE,FREQUENCY,TIME,Value,Flag Codes
0,AUT,GDP,TOT,USD_CAP,A,2018,56956.110562,NaN
1,AUT,GDP,TOT,USD_CAP,A,2019,59719.331647,NaN
2,AUT,GDP,TOT,USD_CAP,A,2020,57253.300563,NaN
3,AUT,GDP,TOT,USD_CAP,A,2021,59976.264665,NaN
4,BEL,GDP,TOT,USD_CAP,A,2018,52530.841510,NaN
5,BEL,GDP,TOT,USD_CAP,A,2019,55800.825988,NaN
6,BEL,GDP,TOT,USD_CAP,A,2020,54539.032525,P
7,BEL,GDP,TOT,USD_CAP,A,2021,58816.266983,P
8,CAN,GDP,TOT,USD_CAP,A,2018,49992.811418,NaN
9,CAN,GDP,TOT,USD_CAP,A,2019,49832.297981,NaN
10,CAN,GDP,TOT,USD_CAP,A,2020,47228.372488,NaN
11,CAN,GDP,TOT,USD_CAP,A,2021,53074.088264,NaN
12,CZE,GDP,TOT,USD_CAP,A,2018,41157.370409,NaN
13,CZE,GDP,TOT,USD_CAP,A,2019,44223.088155,NaN
14,CZE,GDP,TOT,USD_CAP,A,2020,42813.741340,NaN
15,CZE,GDP,TOT,USD_CAP,A,2021,44799.547333,NaN
16,DNK,GDP,TOT,USD_CAP,A,2018,57479.350221,NaN
17,DNK,GDP,TOT,USD_CAP,A,2019,59883.836280,NaN
18,DNK,GDP,TOT,USD_CAP,A,2020,60840.940164,NaN
19,DNK,GDP,TOT,USD_CAP,A,2021,64897.769113,NaN

In [20]:
df_econ.LOCATION.unique()

array(['AUT', 'BEL', 'CAN', 'CZE', 'DNK', 'FIN', 'FRA', 'DEU', 'GRC',
       'HUN', 'IRL', 'ITA', 'JPN', 'LUX', 'NLD', 'POL', 'PRT', 'SVK',
       'ESP', 'SWE', 'GBR', 'USA', 'EST', 'SVN', 'OECD', 'LVA', 'LTU',
       'BGR', 'HRV', 'CYP', 'MLT', 'ROU', 'AUS', 'KOR', 'MEX', 'NZL',
       'TUR', 'ARG', 'BRA', 'CHL', 'CHN', 'COL', 'EGY', 'ETH', 'IND',
       'IDN', 'IRN', 'KAZ', 'MYS', 'NGA', 'PAK', 'PRY', 'PER', 'PHL',
       'RUS', 'SAU', 'ZAF', 'THA', 'UKR', 'VNM', 'WLD', 'BRICS', 'NOR',
       'CHE', 'ISR', 'ISL', 'EU', 'CRI'], dtype=object)

In [21]:
# Add dataset to lookup to if a country is EU  or NOT. 
df_eulookup = pd.read_csv("DATA/EU_countries.csv")

df_eulookup.head(50)

   LOCATION       EU_Country  EU
0       AUT          Austria   1
1       BEL          Belgium   1
2       BGR         Bulgaria   1
3       HRV          Croatia   1
4       CYP           Cyprus   1
5       CZE   Czech Republic   1
6       DNK          Denmark   1
7       EST          Estonia   1
8       FIN          Finland   1
9       FRA           France   1
10      DEU          Germany   1
11      GRC           Greece   1
12      HUN          Hungary   1
13      IRL          Ireland   1
14      ITA            Italy   1
15      LVA           Latvia   1
16      LTU        Lithuania   1
17      LUX       Luxembourg   1
18      MLT            Malta   1
19      NLD      Netherlands   1
20      POL           Poland   1
21      PRT         Portugal   1
22      ROU          Romania   1
23      SVK  Slovak Republic   1
24      SVN         Slovenia   1
25      ESP            Spain   1
26      SWE           Sweden   1

In [22]:
# Add colum to say if Location is EU country, OECD benchark or otherwise. 
df_econ3 = df_econ2.join(df_eulookup.set_index('LOCATION'), on='LOCATION')
df_econ3.tail(100)

,LOCATION,INDICATOR,SUBJECT,MEASURE,FREQUENCY,TIME,Value,Flag Codes,EU_Country,EU
584,EST,OILPROD,TOT,KTOE,A,2008,0.0,NaN,Estonia,1.0
585,EST,OILPROD,TOT,KTOE,A,2009,0.0,NaN,Estonia,1.0
586,EST,OILPROD,TOT,KTOE,A,2010,0.0,NaN,Estonia,1.0
587,EST,OILPROD,TOT,KTOE,A,2011,0.0,NaN,Estonia,1.0
588,EST,OILPROD,TOT,KTOE,A,2012,0.0,NaN,Estonia,1.0
...,...,...,...,...,...,...,...,...,...,...
679,CRI,OILPROD,TOT,KTOE,A,2013,0.0,NaN,NaN,NaN
680,CRI,OILPROD,TOT,KTOE,A,2014,0.0,NaN,NaN,NaN
681,CRI,OILPROD,TOT,KTOE,A,2015,0.0,NaN,NaN,NaN
682,CRI,OILPROD,TOT,KTOE,A,2016,0.0,NaN,NaN,NaN
683,CRI,OILPROD,TOT,KTOE,A,2017,0.0,NaN,NaN,NaN

In [23]:
df_econ3.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 33251 entries, 0 to 683
Data columns (total 10 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   LOCATION    33251 non-null  object
 1   INDICATOR   33251 non-null  object
 2   SUBJECT     33251 non-null  object
 3   MEASURE     33251 non-null  object
 4   FREQUENCY   33251 non-null  object
 5   TIME        33251 non-null  int64
 6   Value       33251 non-null  float64
 7   Flag Codes  167 non-null    object
 8   EU_Country  2948 non-null   object
 9   EU          2948 non-null   float64
dtypes: float64(2), int64(1), object(7)
memory usage: 2.8+ MB

In [49]:
# Filter out anything that's not EU 
df_econ4 = df_econ3[~df_econ3.EU.isnull()]

In [51]:
df_econ4.EU.unique()

array([1.])

In [52]:
df_econ4.TIME.unique()

array([2018, 2019, 2020, 2021, 2000, 2001, 2002, 2003, 2004, 2005, 2006,
       2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017,
       1996, 1997, 1998, 1999], dtype=int64)

In [25]:
# Mask formula to remove some that contains "-" from the new df

# year_mask = (df_econ3.TIME.str.find("-")==-1)
# df_econ3_year = df_econ3[year_mask]

In [54]:
df_econ4.head()

,LOCATION,INDICATOR,SUBJECT,MEASURE,FREQUENCY,TIME,Value,Flag Codes,EU_Country,EU
0,AUT,GDP,TOT,USD_CAP,A,2018,56956.110562,NaN,Austria,1.0
1,AUT,GDP,TOT,USD_CAP,A,2019,59719.331647,NaN,Austria,1.0
2,AUT,GDP,TOT,USD_CAP,A,2020,57253.300563,NaN,Austria,1.0
3,AUT,GDP,TOT,USD_CAP,A,2021,59976.264665,NaN,Austria,1.0
4,BEL,GDP,TOT,USD_CAP,A,2018,52530.841510,NaN,Belgium,1.0

In [53]:
#Export df to CSV
df_econ4.to_csv("df_econ_eu.csv")

In [27]:
df_econ3.TIME.unique()

array([2018, 2019, 2020, 2021, 2000, 2001, 2002, 2003, 2004, 2005, 2006,
       2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017,
       1990, 1991, 1992, 1993, 1994, 1995, 1996, 1997, 1998, 1999, 2022,
       2023, 2024, 2025, 2026, 2027, 2028, 2029, 2030, 1986, 1987, 1988,
       1989], dtype=int64)

In [28]:
from pandas.core.reshape.pivot import pivot

In [29]:
pd.pivot_table(df_econ3, values = 'Value', index=['LOCATION','TIME'], columns = 'INDICATOR').reset_index()

INDICATOR,LOCATION,TIME,AGRSUPP,CROPYIELD,EXCH,GDP,GFCFSECTOR,GNI,OILPROD,YRLIFELOST
0,ARG,1990,NaN,3592.324250,NaN,NaN,NaN,NaN,NaN,NaN
1,ARG,1991,NaN,3685.865750,NaN,NaN,NaN,NaN,NaN,NaN
2,ARG,1992,NaN,3708.984667,NaN,NaN,NaN,NaN,NaN,NaN
3,ARG,1993,NaN,3782.307667,NaN,NaN,NaN,NaN,NaN,NaN
4,ARG,1994,NaN,4102.401917,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
2366,ZAF,2026,NaN,2143.978167,NaN,NaN,NaN,NaN,NaN,NaN
2367,ZAF,2027,NaN,2175.352500,NaN,NaN,NaN,NaN,NaN,NaN
2368,ZAF,2028,NaN,2206.567750,NaN,NaN,NaN,NaN,NaN,NaN
2369,ZAF,2029,NaN,2239.788250,NaN,NaN,NaN,NaN,NaN,NaN
2370,ZAF,2030,NaN,2275.879083,NaN,NaN,NaN,NaN,NaN,NaN

## Now the Farming Dataset

In [30]:
df_farm = pd.read_csv("DATA/FAOSTAT_data_en_12-16-2022.csv")

In [31]:
df_farm.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40906 entries, 0 to 40905
Data columns (total 14 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Domain Code       40906 non-null  object
 1   Domain            40906 non-null  object
 2   Area Code (M49)   40906 non-null  int64
 3   Area              40906 non-null  object
 4   Element Code      40906 non-null  int64
 5   Element           40906 non-null  object
 6   Item Code (CPC)   40906 non-null  object
 7   Item              40906 non-null  object
 8   Year Code         40906 non-null  int64
 9   Year              40906 non-null  int64
 10  Unit              40906 non-null  object
 11  Value             38734 non-null  float64
 12  Flag              40906 non-null  object
 13  Flag Description  40906 non-null  object
dtypes: float64(1), int64(4), object(9)
memory usage: 4.4+ MB

In [32]:
df_farm.describe()

       Area Code (M49)  Element Code     Year Code          Year         Value
count     40906.000000  40906.000000  40906.000000  40906.000000  3.873400e+04
mean        440.027942   5407.513299   2018.420721   2018.420721  4.487460e+05
std         246.782100    101.030220      1.106960      1.106960  2.682921e+06
min           8.000000   5111.000000   2017.000000   2017.000000  0.000000e+00
25%         233.000000   5312.000000   2017.000000   2017.000000  7.190000e+02
50%         440.000000   5419.000000   2018.000000   2018.000000  1.455200e+04
75%         643.000000   5510.000000   2019.000000   2019.000000  9.609150e+04
max         826.000000   5513.000000   2020.000000   2020.000000  8.600254e+07

In [33]:
df_farm.head(50)

,Domain Code,Domain,Area Code (M49),Area,Element Code,Element,Item Code (CPC),Item,Year Code,Year,Unit,Value,Flag,Flag Description
0,QCL,Crops and livestock products,8,Albania,5312,Area harvested,1341,Apples,2017,2017,ha,4346.0,A,Official figure
1,QCL,Crops and livestock products,8,Albania,5312,Area harvested,1341,Apples,2018,2018,ha,4294.0,A,Official figure
2,QCL,Crops and livestock products,8,Albania,5312,Area harvested,1341,Apples,2019,2019,ha,4407.0,A,Official figure
3,QCL,Crops and livestock products,8,Albania,5312,Area harvested,1341,Apples,2020,2020,ha,4420.0,A,Official figure
4,QCL,Crops and livestock products,8,Albania,5419,Yield,1341,Apples,2017,2017,hg/ha,221671.0,E,Estimated value
5,QCL,Crops and livestock products,8,Albania,5419,Yield,1341,Apples,2018,2018,hg/ha,252387.0,E,Estimated value
6,QCL,Crops and livestock products,8,Albania,5419,Yield,1341,Apples,2019,2019,hg/ha,240374.0,E,Estimated value
7,QCL,Crops and livestock products,8,Albania,5419,Yield,1341,Apples,2020,2020,hg/ha,231147.0,E,Estimated value
8,QCL,Crops and livestock products,8,Albania,5510,Production,1341,Apples,2017,2017,tonnes,96338.0,A,Official figure
9,QCL,Crops and livestock products,8,Albania,5510,Production,1341,Apples,2018,2018,tonnes,108375.0,A,Official figure
10,QCL,Crops and livestock products,8,Albania,5510,Production,1341,Apples,2019,2019,tonnes,105933.0,A,Official figure
11,QCL,Crops and livestock products,8,Albania,5510,Production,1341,Apples,2020,2020,tonnes,102167.0,A,Official figure
12,QCL,Crops and livestock products,8,Albania,5312,Area harvested,1343,Apricots,2017,2017,ha,326.0,A,Official figure
13,QCL,Crops and livestock products,8,Albania,5312,Area harvested,1343,Apricots,2018,2018,ha,337.0,A,Official figure
14,QCL,Crops and livestock products,8,Albania,5312,Area harvested,1343,Apricots,2019,2019,ha,341.0,A,Official figure
15,QCL,Crops and livestock products,8,Albania,5312,Area harvested,1343,Apricots,2020,2020,ha,346.0,A,Official figure
16,QCL,Crops and livestock products,8,Albania,5419,Yield,1343,Apricots,2017,2017,hg/ha,154601.0,E,Estimated value
17,QCL,Crops and livestock products,8,Albania,5419,Yield,1343,Apricots,2018,2018,hg/ha,152493.0,E,Estimated value
18,QCL,Crops and livestock products,8,Albania,5419,Yield,1343,Apricots,2019,2019,hg/ha,142962.0,E,Estimated value
19,QCL,Crops and livestock products,8,Albania,5419,Yield,1343,Apricots,2020,2020,hg/ha,148642.0,E,Estimated value
20,QCL,Crops and livestock products,8,Albania,5510,Production,1343,Apricots,2017,2017,tonnes,5040.0,A,Official figure
21,QCL,Crops and livestock products,8,Albania,5510,Production,1343,Apricots,2018,2018,tonnes,5139.0,A,Official figure
22,QCL,Crops and livestock products,8,Albania,5510,Production,1343,Apricots,2019,2019,tonnes,4875.0,A,Official figure
23,QCL,Crops and livestock products,8,Albania,5510,Production,1343,Apricots,2020,2020,tonnes,5143.0,A,Official figure
24,QCL,Crops and livestock products,8,Albania,5111,Stocks,2132,Asses,2017,2017,Head,56000.0,T,Unofficial figure
25,QCL,Crops and livestock products,8,Albania,5111,Stocks,2132,Asses,2018,2018,Head,56000.0,T,Unofficial figure
26,QCL,Crops and livestock products,8,Albania,5111,Stocks,2132,Asses,2019,2019,Head,55000.0,T,Unofficial figure
27,QCL,Crops and livestock products,8,Albania,5111,Stocks,2132,Asses,2020,2020,Head,49000.0,T,Unofficial figure
28,QCL,Crops and livestock products,8,Albania,5312,Area harvested,115,Barley,2017,2017,ha,3065.0,A,Official figure
29,QCL,Crops and livestock products,8,Albania,5312,Area harvested,115,Barley,2018,2018,ha,3397.0,A,Official figure
30,QCL,Crops and livestock products,8,Albania,5312,Area harvested,115,Barley,2019,2019,ha,2742.0,A,Official figure
31,QCL,Crops and livestock products,8,Albania,5312,Area harvested,115,Barley,2020,2020,ha,3771.0,A,Official figure
32,QCL,Crops and livestock products,8,Albania,5419,Yield,115,Barley,2017,2017,hg/ha,29478.0,E,Estimated value
33,QCL,Crops and livestock products,8,Albania,5419,Yield,115,Barley,2018,2018,hg/ha,28422.0,E,Estimated value
34,QCL,Crops and livestock products,8,Albania,5419,Yield,115,Barley,2019,2019,hg/ha,28964.0,E,Estimated value
35,QCL,Crops and livestock products,8,Albania,5419,Yield,115,Barley,2020,2020,hg/ha,33532.0,E,Estimated value
36,QCL,Crops and livestock products,8,Albania,5510,Production,115,Barley,2017,2017,tonnes,9035.0,A,Official figure
37,QCL,Crops and livestock products,8,Albania,5510,Production,115,Barley,2018,2018,tonnes,9655.0,A,Official figure
38,QCL,Crops and livestock products,8,Albania,5510,Production,115,Barley,2019,2019,tonnes,7942.0,A,Official figure
39,QCL,Crops and livestock products,8,Albania,5510,Production,115,Barley,2020,2020,tonnes,12645.0,A,Official figure
40,QCL,Crops and livestock products,8,Albania,5312,Area harvested,1701,"Beans, dry",2017,2017,ha,13041.0,A,Official figure
41,QCL,Crops and livestock products,8,Albania,5312,Area harvested,1701,"Beans, dry",2018,2018,ha,13373.0,A,Official figure
42,QCL,Crops and livestock products,8,Albania,5312,Area harvested,1701,"Beans, dry",2019,2019,ha,13550.0,A,Official figure
43,QCL,Crops and livestock products,8,Albania,5312,Area harvested,1701,"Beans, dry",2020,2020,ha,13346.0,A,Official figure
44,QCL,Crops and livestock products,8,Albania,5419,Yield,1701,"Beans, dry",2017,2017,hg/ha,16256.0,E,Estimated value
45,QCL,Crops and livestock products,8,Albania,5419,Yield,1701,"Beans, dry",2018,2018,hg/ha,18352.0,E,Estimated value
46,QCL,Crops and livestock products,8,Albania,5419,Yield,1701,"Beans, dry",2019,2019,hg/ha,18289.0,E,Estimated value
47,QCL,Crops and livestock products,8,Albania,5419,Yield,1701,"Beans, dry",2020,2020,hg/ha,17193.0,E,Estimated value
48,QCL,Crops and livestock products,8,Albania,5510,Production,1701,"Beans, dry",2017,2017,tonnes,21200.0,A,Official figure
49,QCL,Crops and livestock products,8,Albania,5510,Production,1701,"Beans, dry",2018,2018,tonnes,24542.0,A,Official figure

In [34]:
df_farm.Year.unique()

array([2017, 2018, 2019, 2020], dtype=int64)

In [35]:
df_farm.Area.unique()

array(['Albania', 'Austria', 'Belarus', 'Belgium',
       'Bosnia and Herzegovina', 'Bulgaria', 'Croatia', 'Czechia',
       'Denmark', 'Estonia', 'Faroe Islands', 'Finland', 'France',
       'Germany', 'Greece', 'Hungary', 'Iceland', 'Ireland', 'Italy',
       'Latvia', 'Lithuania', 'Luxembourg', 'Malta', 'Montenegro',
       'Netherlands', 'North Macedonia', 'Norway', 'Poland', 'Portugal',
       'Republic of Moldova', 'Romania', 'Russian Federation', 'Serbia',
       'Slovakia', 'Slovenia', 'Spain', 'Sweden', 'Switzerland',
       'Ukraine', 'United Kingdom of Great Britain and Northern Ireland'],
      dtype=object)

In [36]:
df_farm.Domain.unique()

array(['Crops and livestock products'], dtype=object)

In [37]:
# print(df_farm.Item.unique())

In [39]:
# Add colum to say if Location is EU country, OECD benchark or otherwise. 
df_farm2 = df_farm.join(df_eulookup.set_index('EU_Country'), on='Area')

In [40]:
df_farm2.head(50)

,Domain Code,Domain,Area Code (M49),Area,Element Code,Element,Item Code (CPC),Item,Year Code,Year,Unit,Value,Flag,Flag Description,LOCATION,EU
0,QCL,Crops and livestock products,8,Albania,5312,Area harvested,1341,Apples,2017,2017,ha,4346.0,A,Official figure,NaN,NaN
1,QCL,Crops and livestock products,8,Albania,5312,Area harvested,1341,Apples,2018,2018,ha,4294.0,A,Official figure,NaN,NaN
2,QCL,Crops and livestock products,8,Albania,5312,Area harvested,1341,Apples,2019,2019,ha,4407.0,A,Official figure,NaN,NaN
3,QCL,Crops and livestock products,8,Albania,5312,Area harvested,1341,Apples,2020,2020,ha,4420.0,A,Official figure,NaN,NaN
4,QCL,Crops and livestock products,8,Albania,5419,Yield,1341,Apples,2017,2017,hg/ha,221671.0,E,Estimated value,NaN,NaN
5,QCL,Crops and livestock products,8,Albania,5419,Yield,1341,Apples,2018,2018,hg/ha,252387.0,E,Estimated value,NaN,NaN
6,QCL,Crops and livestock products,8,Albania,5419,Yield,1341,Apples,2019,2019,hg/ha,240374.0,E,Estimated value,NaN,NaN
7,QCL,Crops and livestock products,8,Albania,5419,Yield,1341,Apples,2020,2020,hg/ha,231147.0,E,Estimated value,NaN,NaN
8,QCL,Crops and livestock products,8,Albania,5510,Production,1341,Apples,2017,2017,tonnes,96338.0,A,Official figure,NaN,NaN
9,QCL,Crops and livestock products,8,Albania,5510,Production,1341,Apples,2018,2018,tonnes,108375.0,A,Official figure,NaN,NaN
10,QCL,Crops and livestock products,8,Albania,5510,Production,1341,Apples,2019,2019,tonnes,105933.0,A,Official figure,NaN,NaN
11,QCL,Crops and livestock products,8,Albania,5510,Production,1341,Apples,2020,2020,tonnes,102167.0,A,Official figure,NaN,NaN
12,QCL,Crops and livestock products,8,Albania,5312,Area harvested,1343,Apricots,2017,2017,ha,326.0,A,Official figure,NaN,NaN
13,QCL,Crops and livestock products,8,Albania,5312,Area harvested,1343,Apricots,2018,2018,ha,337.0,A,Official figure,NaN,NaN
14,QCL,Crops and livestock products,8,Albania,5312,Area harvested,1343,Apricots,2019,2019,ha,341.0,A,Official figure,NaN,NaN
15,QCL,Crops and livestock products,8,Albania,5312,Area harvested,1343,Apricots,2020,2020,ha,346.0,A,Official figure,NaN,NaN
16,QCL,Crops and livestock products,8,Albania,5419,Yield,1343,Apricots,2017,2017,hg/ha,154601.0,E,Estimated value,NaN,NaN
17,QCL,Crops and livestock products,8,Albania,5419,Yield,1343,Apricots,2018,2018,hg/ha,152493.0,E,Estimated value,NaN,NaN
18,QCL,Crops and livestock products,8,Albania,5419,Yield,1343,Apricots,2019,2019,hg/ha,142962.0,E,Estimated value,NaN,NaN
19,QCL,Crops and livestock products,8,Albania,5419,Yield,1343,Apricots,2020,2020,hg/ha,148642.0,E,Estimated value,NaN,NaN
20,QCL,Crops and livestock products,8,Albania,5510,Production,1343,Apricots,2017,2017,tonnes,5040.0,A,Official figure,NaN,NaN
21,QCL,Crops and livestock products,8,Albania,5510,Production,1343,Apricots,2018,2018,tonnes,5139.0,A,Official figure,NaN,NaN
22,QCL,Crops and livestock products,8,Albania,5510,Production,1343,Apricots,2019,2019,tonnes,4875.0,A,Official figure,NaN,NaN
23,QCL,Crops and livestock products,8,Albania,5510,Production,1343,Apricots,2020,2020,tonnes,5143.0,A,Official figure,NaN,NaN
24,QCL,Crops and livestock products,8,Albania,5111,Stocks,2132,Asses,2017,2017,Head,56000.0,T,Unofficial figure,NaN,NaN
25,QCL,Crops and livestock products,8,Albania,5111,Stocks,2132,Asses,2018,2018,Head,56000.0,T,Unofficial figure,NaN,NaN
26,QCL,Crops and livestock products,8,Albania,5111,Stocks,2132,Asses,2019,2019,Head,55000.0,T,Unofficial figure,NaN,NaN
27,QCL,Crops and livestock products,8,Albania,5111,Stocks,2132,Asses,2020,2020,Head,49000.0,T,Unofficial figure,NaN,NaN
28,QCL,Crops and livestock products,8,Albania,5312,Area harvested,115,Barley,2017,2017,ha,3065.0,A,Official figure,NaN,NaN
29,QCL,Crops and livestock products,8,Albania,5312,Area harvested,115,Barley,2018,2018,ha,3397.0,A,Official figure,NaN,NaN
30,QCL,Crops and livestock products,8,Albania,5312,Area harvested,115,Barley,2019,2019,ha,2742.0,A,Official figure,NaN,NaN
31,QCL,Crops and livestock products,8,Albania,5312,Area harvested,115,Barley,2020,2020,ha,3771.0,A,Official figure,NaN,NaN
32,QCL,Crops and livestock products,8,Albania,5419,Yield,115,Barley,2017,2017,hg/ha,29478.0,E,Estimated value,NaN,NaN
33,QCL,Crops and livestock products,8,Albania,5419,Yield,115,Barley,2018,2018,hg/ha,28422.0,E,Estimated value,NaN,NaN
34,QCL,Crops and livestock products,8,Albania,5419,Yield,115,Barley,2019,2019,hg/ha,28964.0,E,Estimated value,NaN,NaN
35,QCL,Crops and livestock products,8,Albania,5419,Yield,115,Barley,2020,2020,hg/ha,33532.0,E,Estimated value,NaN,NaN
36,QCL,Crops and livestock products,8,Albania,5510,Production,115,Barley,2017,2017,tonnes,9035.0,A,Official figure,NaN,NaN
37,QCL,Crops and livestock products,8,Albania,5510,Production,115,Barley,2018,2018,tonnes,9655.0,A,Official figure,NaN,NaN
38,QCL,Crops and livestock products,8,Albania,5510,Production,115,Barley,2019,2019,tonnes,7942.0,A,Official figure,NaN,NaN
39,QCL,Crops and livestock products,8,Albania,5510,Production,115,Barley,2020,2020,tonnes,12645.0,A,Official figure,NaN,NaN
40,QCL,Crops and livestock products,8,Albania,5312,Area harvested,1701,"Beans, dry",2017,2017,ha,13041.0,A,Official figure,NaN,NaN
41,QCL,Crops and livestock products,8,Albania,5312,Area harvested,1701,"Beans, dry",2018,2018,ha,13373.0,A,Official figure,NaN,NaN
42,QCL,Crops and livestock products,8,Albania,5312,Area harvested,1701,"Beans, dry",2019,2019,ha,13550.0,A,Official figure,NaN,NaN
43,QCL,Crops and livestock products,8,Albania,5312,Area harvested,1701,"Beans, dry",2020,2020,ha,13346.0,A,Official figure,NaN,NaN
44,QCL,Crops and livestock products,8,Albania,5419,Yield,1701,"Beans, dry",2017,2017,hg/ha,16256.0,E,Estimated value,NaN,NaN
45,QCL,Crops and livestock products,8,Albania,5419,Yield,1701,"Beans, dry",2018,2018,hg/ha,18352.0,E,Estimated value,NaN,NaN
46,QCL,Crops and livestock products,8,Albania,5419,Yield,1701,"Beans, dry",2019,2019,hg/ha,18289.0,E,Estimated value,NaN,NaN
47,QCL,Crops and livestock products,8,Albania,5419,Yield,1701,"Beans, dry",2020,2020,hg/ha,17193.0,E,Estimated value,NaN,NaN
48,QCL,Crops and livestock products,8,Albania,5510,Production,1701,"Beans, dry",2017,2017,tonnes,21200.0,A,Official figure,NaN,NaN
49,QCL,Crops and livestock products,8,Albania,5510,Production,1701,"Beans, dry",2018,2018,tonnes,24542.0,A,Official figure,NaN,NaN

In [41]:
df_farm3 = df_farm2[df_farm2['EU'] > 0]

In [42]:
df_farm3.head(150)

,Domain Code,Domain,Area Code (M49),Area,Element Code,Element,Item Code (CPC),Item,Year Code,Year,Unit,Value,Flag,Flag Description,LOCATION,EU
1104,QCL,Crops and livestock products,40,Austria,5312,Area harvested,1341,Apples,2017,2017,ha,NaN,A,Official figure,AUT,1.0
1105,QCL,Crops and livestock products,40,Austria,5312,Area harvested,1341,Apples,2018,2018,ha,6740.0,A,Official figure,AUT,1.0
1106,QCL,Crops and livestock products,40,Austria,5312,Area harvested,1341,Apples,2019,2019,ha,6590.0,A,Official figure,AUT,1.0
1107,QCL,Crops and livestock products,40,Austria,5312,Area harvested,1341,Apples,2020,2020,ha,6430.0,A,Official figure,AUT,1.0
1108,QCL,Crops and livestock products,40,Austria,5419,Yield,1341,Apples,2018,2018,hg/ha,575593.0,E,Estimated value,AUT,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1249,QCL,Crops and livestock products,40,Austria,5312,Area harvested,1213,Cauliflowers and broccoli,2017,2017,ha,284.0,A,Official figure,AUT,1.0
1250,QCL,Crops and livestock products,40,Austria,5312,Area harvested,1213,Cauliflowers and broccoli,2018,2018,ha,260.0,A,Official figure,AUT,1.0
1251,QCL,Crops and livestock products,40,Austria,5312,Area harvested,1213,Cauliflowers and broccoli,2019,2019,ha,280.0,A,Official figure,AUT,1.0
1252,QCL,Crops and livestock products,40,Austria,5312,Area harvested,1213,Cauliflowers and broccoli,2020,2020,ha,320.0,A,Official figure,AUT,1.0
1253,QCL,Crops and livestock products,40,Austria,5419,Yield,1213,Cauliflowers and broccoli,2017,2017,hg/ha,207183.0,E,Estimated value,AUT,1.0

In [ ]:
# pd.pivot_table(df_farm2, values = 'Value', index=['Area','Year'], columns = 'Domain').reset_index()
# pd.pivot_table(df_farm2, values = 'Value', index=['Area','Year'], columns = 'Item', Filter = "EU" = 1)

In [43]:
#Write to csv
df_farm3.to_csv("df_farm3.csv")

In [47]:
# Filter out anything that's not EU 
df_farm_eu = df_farm3[~df_farm3.EU.isnull()]

In [88]:
df_farm_eu.head()

,Domain Code,Domain,Area Code (M49),Area,Element Code,Element,Item Code (CPC),Item,Year Code,Year,Unit,Value,Flag,Flag Description,LOCATION,EU
1104,QCL,Crops and livestock products,40,Austria,5312,Area harvested,1341,Apples,2017,2017,ha,NaN,A,Official figure,AUT,1.0
1105,QCL,Crops and livestock products,40,Austria,5312,Area harvested,1341,Apples,2018,2018,ha,6740.0,A,Official figure,AUT,1.0
1106,QCL,Crops and livestock products,40,Austria,5312,Area harvested,1341,Apples,2019,2019,ha,6590.0,A,Official figure,AUT,1.0
1107,QCL,Crops and livestock products,40,Austria,5312,Area harvested,1341,Apples,2020,2020,ha,6430.0,A,Official figure,AUT,1.0
1108,QCL,Crops and livestock products,40,Austria,5419,Yield,1341,Apples,2018,2018,hg/ha,575593.0,E,Estimated value,AUT,1.0

In [48]:
#Write to csv
df_farm_eu.to_csv("df_farm_eu.csv")

In [57]:
## Price Data Processing

In [89]:
## Input European Data

df_price1 = pd.read_csv("DATA\Prices_E_Europe\Prices_E_Europe.csv")

In [90]:
df_price1.head()

,Area Code,Area Code (M49),Area,Item Code,Item Code (CPC),Item,Element Code,Element,Months Code,Months,...,2017,2017F,2018,2018F,2019,2019F,2020,2020F,2021,2021F
0,3,'008,Albania,515,'01341,Apples,5530,Producer Price (LCU/tonne),7021,Annual value,...,54979.4,A,46997.7,A,38086.7,A,55447.0,A,NaN,NaN
1,3,'008,Albania,515,'01341,Apples,5530,Producer Price (LCU/tonne),7001,January,...,46325.0,A,53970.0,A,37244.0,A,43790.0,A,NaN,NaN
2,3,'008,Albania,515,'01341,Apples,5530,Producer Price (LCU/tonne),7002,February,...,47902.0,A,54079.0,A,34500.0,A,45990.0,A,NaN,NaN
3,3,'008,Albania,515,'01341,Apples,5530,Producer Price (LCU/tonne),7003,March,...,52224.0,A,62985.0,A,37087.0,A,41865.0,A,NaN,NaN
4,3,'008,Albania,515,'01341,Apples,5530,Producer Price (LCU/tonne),7004,April,...,62325.0,A,66062.0,A,37017.0,A,67172.0,A,NaN,NaN

In [91]:
df_price2 = df_price1.melt()

In [92]:
df_price2.melt()

C:\Users\megan.c.mchugh\AppData\Local\Temp\ipykernel_20920\1298159081.py:1: FutureWarning: This dataframe has a column name that matches the 'value_name' column name of the resulting Dataframe. In the future this will raise an error, please set the 'value_name' parameter of DataFrame.melt to a unique name.
  df_price2.melt()

         variable      value
0        variable  Area Code
1        variable  Area Code
2        variable  Area Code
3        variable  Area Code
4        variable  Area Code
...           ...        ...
3368069     value          I
3368070     value          I
3368071     value          I
3368072     value          I
3368073     value          I

[3368074 rows x 2 columns]

In [94]:
df_price2.head(150)

      variable value
0    Area Code     3
1    Area Code     3
2    Area Code     3
3    Area Code     3
4    Area Code     3
..         ...   ...
145  Area Code     3
146  Area Code     3
147  Area Code     3
148  Area Code     3
149  Area Code     3

[150 rows x 2 columns]

In [71]:
pd.read_csv("DATA\\Prices_E_All_Data\\Prices_E_All_Data_NOFLAG.csv")

UnicodeDecodeError: 'utf-8' codec can't decode byte 0xe9 in position 137975: invalid continuation byte

In [63]:
df_trade1 = pd.read_csv("DATA/Trade_CropsLivestock_E_All_Data/Trade_CropsLivestock_E_All_Data.csv")

UnicodeDecodeError: 'utf-8' codec can't decode byte 0xe9 in position 165398: invalid continuation byte

## Combine farming and econ dfs?

## Getting Started with Interactive Data Visualizations

In [ ]:
# Sample 



# import pandas as pd
# import numpy as np

In [ ]:

co2 = pd.read_csv('data/co2.csv')
co2.head()

gm = pd.read_csv('data/gapminder.csv')
gm.head()

df_gm = gm[['Country', 'region']].drop_duplicates()

df_w_regions = pd.merge(co2, df_gm, left_on='country', right_on='Country', how='inner')

df_w_regions = df_w_regions.drop('Country', axis='columns')

new_co2 = pd.melt(df_w_regions, id_vars=['country', 'region'])

columns = ['country', 'region', 'year', 'co2']
new_co2.columns = columns

df_co2 = new_co2[new_co2['year'].astype('int64') > 1963]
df_co2 = df_co2.sort_values(by=['country', 'year'])
df_co2['year'] = df_co2['year'].astype('int64')
df_co2.head()

df_gdp = gm[['Country', 'Year', 'gdp']]
df_gdp.columns = ['country', 'year', 'gdp']
df_gdp.head()

data = pd.merge(df_co2, df_gdp, on=['country', 'year'], how='left')

data = data.dropna()
data.head()

np_co2 = np.array(data['co2'])
np_gdp = np.array(data['gdp'])
np.corrcoef(np_co2, np_gdp)

from bokeh.io import curdoc, output_notebook
from bokeh.plotting import figure, show
from bokeh.models import HoverTool, ColumnDataSource, CategoricalColorMapper, Slider
from bokeh.palettes import Spectral6
from bokeh.layouts import widgetbox, row

output_notebook()

regions_list = data.region.unique().tolist()
color_mapper = CategoricalColorMapper(factors=regions_list, palette=Spectral6)

Make the ColumnDataSource: source


source = ColumnDataSource(data={
    'x': data.gdp[data['year'] == 1964],
    'y': data.co2[data['year'] == 1964],
    'country': data.country[data['year'] == 1964],
    'region': data.region[data['year'] == 1964],
})

Save the minimum and maximum values of the gdp column: xmin, xmax

xmin, xmax = min(data.gdp), max(data.gdp)

Save the minimum and maximum values of the co2 column: ymin, ymax

ymin, ymax = min(data.co2), max(data.co2)

Create the figure: plot


plot = figure(title='CO2 Emissions vs GDP in 1964', 
              plot_height=600, plot_width=1000,
              x_range=(xmin, xmax),
              y_range=(ymin, ymax), y_axis_type='log')

Add circle glyphs to the plot

plot.circle(x='x', y='y', fill_alpha=0.8, source=source, legend='region',
            color=dict(field='region', transform=color_mapper),
            size=7)

# Set the legend.location attribute of the plot
plot.legend.location = 'bottom_right'

# Set the x-axis label
plot.xaxis.axis_label = 'Income Per Person'

# Set the y-axis label
plot.yaxis.axis_label = 'CO2 Emissions (tons per person)'

show(plot)

### Adding a Slider to the Static Plot 

slider = Slider(start=min(data.year), end=max(data.year), step=1,
value=min(data.year), title='Year') 

def update_plot(attr, old, new):
    yr = slider.value
    new_data = {
     'x': data.gdp[data['year'] == yr], 
     'y': data.co2[data['year'] == yr],
     'country': data.country[data['year'] == yr],
     'region': data.region[data['year'] == yr],
    }
    source.data = new_data
    plot.title.text = 'CO2 Emissions vs GDP in %d' % yr 

slider.on_change('value', update_plot)

layout = row(widgetbox(slider), plot) 

curdoc().add_root(layout) 

### Adding a Hover Tool 

hover = HoverTool(tooltips=[('Country', '@country'), ('GDP', '@x'), ('CO2 Emission','@y')]) 

plot.add_tools(hover) 

!bokeh serve --show Getting_Started_with_Interactive_Data_Visualizations.ipynb

## Interactive Data Visualization with Plotly Express 

import pandas as pd
import plotly.express as px 

co2 = pd.read_csv('data/co2.csv')
gm = pd.read_csv('data/gapminder.csv')

df_gm = gm[['Country', 'region']].drop_duplicates()
df_w_regions = pd.merge(co2, df_gm, left_on='country', right_on='Country',how='inner')
df_w_regions = df_w_regions.drop('Country', axis='columns')
new_co2 = pd.melt(df_w_regions, id_vars=['country', 'region'])
columns = ['country', 'region', 'year', 'co2']
new_co2.columns = columns
df_co2 = new_co2[new_co2['year'].astype('int64') > 1963]
df_co2 = df_co2.sort_values(by=['country', 'year'])
df_co2['year'] = df_co2['year'].astype('int64')
df_gdp = gm[['Country', 'Year', 'gdp']]
df_gdp.columns = ['country', 'year', 'gdp']
data = pd.merge(df_co2, df_gdp, on=['country', 'year'], how='left') 
data = data.dropna() 

data.head() 


xmin, xmax = min(data.gdp), max(data.gdp) 

ymin, ymax = min(data.co2), max(data.co2) 

fig = px.scatter(data, x="gdp", y="co2", animation_frame="year",
animation_group="country", color="region", hover_name="country",
facet_col="region", width=1579, height=400, log_x=True, size_max=45,
range_x=[xmin,xmax], range_y=[ymin,ymax]) 


fig.show()